
body {
font: 14px Arial, Helvetica, sans-serif;
color: #0000000;
background: #5a88b9;
width: 100%;
}

#content {
width: 800px;
background: #ffffff;
border: 2px solid grey;
margin: auto;
}

#pad{
padding: 15px;
width: 770px;
}

#header{
width:800px;
margin: auto;
}

#otstup{
height: 5px;
}
